@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-grad {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn2-grad {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn2-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.fixed-gradient {
  /* Set the gradient colors */
  background: linear-gradient(#6B21A8 80%, #8B5CF6);
    /* Make the gradient fixed */
  background-attachment: fixed;

  /* Specify other styles */
  padding: 10px; /* Example padding */
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
}

.main{
  background-color: rgb(33, 33, 33);
}